#au_body_placard {
  width: 100%;
  padding-top: 20px;
}

#au_upper {
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

#au_lower {

}

#au_cupcake {

}

#au_credits {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

.lrg-text {
  font-family: 'Assistant';
  font-size: 4em;
  text-align: center;
}

.med-text {
  font-family: 'Assistant';
  font-size: 2em;
}

@media screen and (max-width: 500px) {
  .lrg-text {
    font-size: 3em;
  }

  .med-text {
    font-size: 1.5em;
  }
}
