#au_body_placard {
  width: 100%;
  height: 800px;

  background-image: url('../img/aboutus_cupcake.png');
  background-color: #E5EEF3;
  background-position: bottom left;
  background-repeat: no-repeat;

  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#au_credits {
  padding-left: 500px;
}

.lrg-text {
  font-family: 'Assistant';
  font-size: 4em;
  text-align: center;
}

.med-text {
  font-family: 'Assistant';
  font-size: 2em;
}
