#browse_search {
  font-family: 'Assistant';

  margin-left: 50px;
  margin-right: 50px;
}

#browse_headliner {
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 3em;
  text-align: center;
}

#recipe_search_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#browse_tag_section {
  display: flex;
}

.browse_tag_genre {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  #browse_tag_section {
    flex-direction: column;
  }
}

#browse_recipe_results {
  font-family: 'Assistant';

  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

.browse_recipe_container {
  display: flex;

  background-color: #EEEEEE;
  color: #000000;
  text-decoration: none;

  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.browse_recipe_image {
  max-height: 200px;
}

.browse_recipe_info {
  margin-left: 10px;
}

.browse_recipe_title {
  font-size: 2em;
  text-decoration: underline;
}

.browse_recipe_author {
  font-size: 1.5em;
}

.browse_recipe_description {
  font-size: 1.2em;
}
