#outro_placard {
  display: flex;
  justify-content: space-between;

  background-image: url('../img/kneading_dough_1920_800.jpg');

  font-family: 'Assistant';
  color: #222222;
  font-size: 1.5em;

  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#nav_sitemap {
  list-style: none;
  text-align: right;
}
