#auth_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 50px;
  background-color: #AAAAAA;

  margin: 0;
  padding: 0;
}

#header_salutation {
  display: inline;
  margin-right: 5px;
}

#header_login_form {
  display: inline-flex;
}
