#auth_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  background-color: #AAAAAA;

  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
}

#header_salutation {
  margin-right: 5px;
}

#header_login_form {
  display: inline-flex;
}
